/* Body */
.body-dark{
    transition: all .2s ease;
    background-color: $very-dark-blue;
}
/* Navegation Bar */
.body-dark .navegation{
    background-color: $dark-blue;
    box-shadow: none;
    .navegation__header, div .dark-mode__paragraph{
        color: $white;
        font-weight: $semi-bold;
    }
    .navegation__header{
        font-weight: $extra-bold;
    }
}

/* Searcher Section */
.filter-section--dark{
    .filter-section__searcher{
        background-image: url("../assets/img/search-dark-mode.svg");
        background-color: $dark-blue;
        color: $white;
        box-shadow: none;
    }
    .filter__default-option{
        background-color: $dark-blue;
    }
    .option{
        color: $white;
        font-weight: $semi-bold;
    }
    ::placeholder{
        font-weight: $semi-bold;
        color: $white;
    }
    .select_ul{
        background-color: $dark-blue;
    }
    .filter__default-option:before{
        border-color: transparent transparent #FFF #FFF;
    }
}
/* Cards Section */
.main-dark{
    .card{
        transition: all .2s ease;
        background-color: $dark-blue;
        color: $white;
    }
}

/* Details Section */
.containerDetails-dark{
    color: $white;
    .button{
        background-color: $dark-blue;
    }
}

