/* Main */
.filter-section{
    display: flex;
    flex-direction: column;
}

/* Searcher section */
.filter-section__searcher{
    all: unset;
    background: $white url("../assets/img/search-white-mode.svg") no-repeat;
    background-position-y: center;
    background-position-x: 2rem;
    margin: 2.5rem auto;
    padding: 1.5rem 0 1.5rem 5.5rem;
    width: 90%;
    @include borders;
    box-shadow: 0px 0px 10px 0px rgba(133,133,133,0.2);
    box-sizing: border-box;
    user-select: none;
    ::placeholder{
        color: $dark-gray;
    }
}

/* Filter section */
.filter{
    margin: 0 auto;
    width: 90%;
    position: relative;

    .filter__container{
        @include options-filter;
    }
}
.filter__default-option{
    background-color: $white;
    position:relative;
    cursor: pointer;
    @include borders;
    .option{
        padding: 1.6rem;
    }
}
.filter__default-option:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 18px;
    width: 9px;
    height: 9px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
}
.select_ul{
  width: 100%;
  background: #fff;
  display: none;
  @include borders;
}

/* To show options */
.active .filter__default-option:before{
    top: 25px;
    transform: rotate(-225deg);
}
.active .select_ul{
    display:block;
    position: absolute;
    padding: 0.5rem 1rem;
    @include options-filter;
}
 

/* Utilities */
.option{
    list-style: none;
    padding: 1rem;
    p{
        cursor: pointer;
        user-select: none;
    }
}
.list{
    list-style: none;
    padding-left: 5%;
    margin: .2rem auto;
}

/* Tablet design */
@include tablet{
    .filter-section{
        flex-direction: row;
        align-items: center;
        @include general-padding-tablet;
    }
    .filter{
        display: flex;
        justify-content: right;
    }
    .filter-section__searcher{
        width: 60%;
    }
}

/* Desktop design */
@include desktop{
    .filter-section{
        @include general-padding-desktop;
    }
    .filter-section__searcher{
        width: 50%;
    }
}
