.navegation, .dark-mode{
    display: flex;
}
.navegation{
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(133,133,133,0.2);
    background-color: $white;
}
.dark-mode{
    align-items: center;
    justify-content: space-evenly;
    width: 10.2rem;
}
.dark-mode__img, .dark-mode__paragraph{
    cursor: pointer;
}
.container{
    height: 10rem;
    background-color: $very-light-gray;
}

/* Tablet design */
@include tablet{
    .navegation{
        padding: 1rem 2.5%;
    }
}

/* Desktop design */
@include desktop{
    .navegation{
        padding: 1rem 7%;
    }
}
