.main{
    width: 90%;
    display: grid;
    gap: 3rem;
    margin: 1.5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(21.2rem, 1fr));
}
/* Card */
.card{
    transition: all .1s ease;
    background-color: $white;
    width: 24.2rem;
    height: 30rem;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    cursor: pointer;
    @include borders;
}
.card-container__img{
    height: 14rem;
}
.card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information{
    margin: 2rem 1.5rem;
}
.information__heading{
    font-size: 2rem;
    margin: 0 auto 1.2rem auto;
}
.information__paragraph{
    margin: .3rem auto;
}
.information__paragraph span{
    font-weight: $semi-bold;
}
@include tablet{
    .main{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(23.2rem, 1fr));
        @include general-padding-tablet;
    }
}
@include desktop{
    .main{
        @include general-padding-desktop;
    }
}

