/* Responsive Designs */
@mixin tablet{
    @media (min-width: $tablet) { 
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop) { 
        @content;
    }
}

@mixin borders{
    border-radius: .5rem;
}

@mixin options-filter{
    max-width: 30rem;
    min-width: 20rem;
    width: 60%;
}

@mixin general-padding-tablet{
    padding: 1rem 2.5%;
}

@mixin general-padding-desktop{
    padding: 1rem 7%;
}

@mixin shadows{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
