$mainfont: 'Nunito Sans', sans-serif;

/* Colors */
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* Designs width */
$tablet: 768px;
$desktop: 1440px;

/* Fonts Weights */
$light: 300;
$semi-bold: 600;
$extra-bold: 800;
